Repository gtronset/homecast: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint src/ --fix, stylelint --syntax scss --fix

Add prettier and prettify all the things (#14)
  .eslintrc
  .eslintrc.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .stylelintrc
  .stylelintrc.json
  README.md
  husky.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/index.html
  src/js/app.js
  src/js/background_lists/custom-backgrounds.js
  src/js/background_lists/default-backgrounds.js
  src/js/backgrounds.js
  src/js/icons.js
  src/js/time.js
  src/js/utilities.js
  src/js/variables.js
  src/js/weather/mock-response.json
  src/js/weather/weather-client.js
  src/js/weather/weather.js
  src/styles/app.scss
  src/styles/fonts.scss
  src/styles/icons.scss
  webpack.config.js
Due: eslint --fix, prettier --write, eslint src/ --fix, stylelint --syntax scss --fix

Add webpack-bundle-analyzer and reduce webpack noise
  dist/index.html
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

Add webpack-bundle-analyzer and reduce webpack noise (#15)
  dist/index.html
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

Introduce Jest and setup initial tests
  .eslintrc.json
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  src/js/icons.js
  tests/default-backgrounds.test.js
  tests/variables.test.js
Due: eslint --fix, prettier --write, eslint src/ --fix

Add basic lint-staged for testing
  .lintstagedrc.json
  dist/bundle.js
  src/js/background_lists/default-backgrounds.js
  tests/app.test.js
  tests/variables.test.js
Due: eslint --fix, prettier --write, eslint src/ --fix

Add rewire to assist in ES6 module unit tests for private functions
  babel.config.js
  dist/bundle.js
  jest.config.js
  src/js/icons.js
  src/js/importall.js
  tests/app.test.js
Due: eslint --fix, eslint src/ --fix

Fix package-lock.json
  package-lock.json
Due: prettier --write

Update dist/bundle.js
  dist/bundle.js
Due: eslint --fix

Introduce Jest and setup initial tests (#16)
  .eslintrc.json
  .lintstagedrc.json
  babel.config.js
  dist/bundle.js
  jest.config.js
  package-lock.json
  package.json
  src/js/background_lists/default-backgrounds.js
  src/js/icons.js
  src/js/importall.js
  tests/default-backgrounds.test.js
  tests/variables.test.js
Due: eslint --fix, prettier --write, eslint src/ --fix

Reduce excess in styles and start on sizing changes
  src/styles/app.scss
  webpack.config.js
Due: eslint --fix, stylelint --syntax scss --fix

Add responsive viewport meta tag for mobile
  src/index.html
Due: prettier --write

Format files and ignore dist for stylelint
  .stylelintrc.json
  dist/index.html
  dist/styles.css
  src/styles/app.scss
Due: prettier --write, stylelint --syntax scss --fix

Set font styles at different media points and use autoprefixer
  babel.config.js
  dist/index.html
  dist/styles.css
  package.json
  src/styles/app.scss
  src/styles/icons.scss
  webpack.config.js
Due: eslint --fix, prettier --write, stylelint --syntax scss --fix

Fix media break point and format html
  dist/index.html
  dist/styles.css
  src/index.html
  src/styles/app.scss
Due: prettier --write, stylelint --syntax scss --fix

Remove media queries due to response text sizing
  dist/styles.css
  src/styles/app.scss
Due: stylelint --syntax scss --fix

Use responsive font sizing & autoprefixer (#17)
  .stylelintrc.json
  babel.config.js
  dist/index.html
  dist/styles.css
  package.json
  src/index.html
  src/styles/app.scss
  src/styles/icons.scss
  webpack.config.js
Due: eslint --fix, prettier --write, stylelint --syntax scss --fix

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

Create dependabot.yml (#62)
  .github/dependabot.yml
Due: none

Update dependencies and lint JS
  babel.config.js
  husky.config.js
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/js/background_lists/custom-backgrounds.js
  src/js/background_lists/default-backgrounds.js
  src/js/backgrounds.js
  src/js/icons.js
  src/js/time.js
  src/js/utilities.js
  src/js/variables.js
  src/js/weather/weather-client.js
  src/js/weather/weather.js
  webpack.config.js
Due: eslint --fix, prettier --write, eslint src/ --fix

Fix compilation errors
  package.json
  src/js/background_lists/default-backgrounds.js
  src/js/icons.js
  webpack.config.js
Due: eslint --fix, prettier --write, eslint src/ --fix

Fix fonts paths
  webpack.config.js
Due: eslint --fix

Updates, linting and more (#85)
  README.md
  babel.config.js
  husky.config.js
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/js/background_lists/custom-backgrounds.js
  src/js/background_lists/default-backgrounds.js
  src/js/backgrounds.js
  src/js/icons.js
  src/js/time.js
  src/js/utilities.js
  src/js/variables.js
  src/js/weather/weather-client.js
  src/js/weather/weather.js
  webpack.config.js
Due: eslint --fix, prettier --write, eslint src/ --fix

Dependency Updates
  package-lock.json
Due: prettier --write

Dependency Updates (#86)
  package-lock.json
Due: prettier --write

Add link to weather samples
  src/js/weather/weather.js
Due: eslint --fix, eslint src/ --fix

Deprecate stylelint-config-prettier
  package-lock.json
  package.json
Due: prettier --write

Deprecate stylelint-config-prettier (#181)
  package-lock.json
  package.json
Due: prettier --write

Allow SCSS Support (again) & apply fixes
  .stylelintrc.json
  package-lock.json
  package.json
  src/styles/app.scss
  src/styles/fonts.scss
  src/styles/icons.scss
Due: prettier --write, stylelint --syntax scss --fix

Build
  dist/2817f4955cf5fab3241b.svg
  dist/837d6b184c131bb23b55.svg
  dist/bundle.js
  dist/fonts/37a7069dc30fc663c878.woff2
  dist/fonts/37b24e4da1f434136409.eot
  dist/fonts/6d39adaaa75942cc2061.ttf
  dist/fonts/865f928cbabcc9f8f2b5.woff
  dist/fonts/8d38ed813cbcb5a0397b.eot
  dist/fonts/c962ab8ad8a73ae33486.woff
  dist/fonts/f1bae4d457b2415e5d7e.ttf
  dist/index.html
  dist/styles.e6270aeb1195672f5e74.css
Due: eslint --fix

Cleanup Build
  dist/2817f4955cf5fab3241b.svg
  dist/837d6b184c131bb23b55.svg
Due: none

Allow SCSS Support (again) & apply fixes (#182)
  .stylelintrc.json
  dist/bundle.js
  dist/fonts/37a7069dc30fc663c878.woff2
  dist/fonts/37b24e4da1f434136409.eot
  dist/fonts/6d39adaaa75942cc2061.ttf
  dist/fonts/865f928cbabcc9f8f2b5.woff
  dist/fonts/8d38ed813cbcb5a0397b.eot
  dist/fonts/c962ab8ad8a73ae33486.woff
  dist/fonts/f1bae4d457b2415e5d7e.ttf
  dist/index.html
  dist/styles.e6270aeb1195672f5e74.css
  package-lock.json
  package.json
  src/styles/app.scss
  src/styles/fonts.scss
  src/styles/icons.scss
Due: eslint --fix, prettier --write, stylelint --syntax scss --fix

Fix ESLint Webpack setup & format
  package-lock.json
  package.json
  src/js/background_lists/default-backgrounds.js
  src/js/backgrounds.js
  src/js/weather/weather-client.js
  src/js/weather/weather.js
  src/styles/fonts.scss
  webpack.config.js
Due: eslint --fix, prettier --write, eslint src/ --fix, stylelint --syntax scss --fix

Fix trailing comma config and instances
  .eslintrc.json
  .prettierrc.json
  src/js/background_lists/default-backgrounds.js
  src/js/backgrounds.js
  src/js/weather/weather-client.js
  webpack.config.js
Due: eslint --fix, prettier --write, eslint src/ --fix

Build for dist
  dist/index.html
  dist/styles.css
Due: none

Fix SVG Config
  dist/bundle.js
  dist/fonts/2515e17bb9c7d3169b068271768fda1b.ttf
  dist/fonts/4850671107926557e77288c661c36c07.woff
  dist/fonts/77ff5228a7500113d314276a25b7d810.eot
  dist/fonts/806854d4422d0bd79e0f8c87c329a568.ttf
  dist/fonts/b00849e00f4c2331cddd8ffb44a6720b.woff
  dist/fonts/bda729dbf749cbb9a8e480fa2deec2e9.eot
  dist/fonts/ef7c6637c68f269a882e73bcb57a7f6a.woff2
  dist/index.html
  dist/styles.e139452c4873ae894ec6.css
  dist/styles.e6270aeb1195672f5e74.css
  webpack.config.js
Due: eslint --fix

Revoke Build Files
  dist/index.html
  dist/styles.css
  dist/styles.e139452c4873ae894ec6.css
Due: none

Formatting
  src/js/weather/weather.js
  webpack.config.js
Due: eslint --fix, eslint src/ --fix

More formatting
  src/js/weather/weather.js
  webpack.config.js
Due: eslint --fix, eslint src/ --fix

Path conditions:
  eslint --fix: any of: ./*.js
  prettier --write: (any of: *.{json,md}) or (any of: src/**/*.html)
  eslint src/ --fix: any of: src/**/*.{js,jsx}
  stylelint --syntax scss --fix: any of: src/**/*.scss
